:root{
    --eerie: #212425;
    --eerie2: #131414;
    --chibla: #1b1d1f;
    --chibla2: #362d2d;
    --charcoal: #202020;
    --coarent: #333131;
    --sunset: #ff5757;
}

.op0{
    opacity: 0;
    transition: all 0.6s;
}
.op1{
    opacity: 1;
    transition: all 0.6s;
}
.game-state{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #181414b9;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-content: center;
    justify-items: center;
    transition: all 0.6s;
} .restart {
    align-content: center;
    justify-items: center;
    padding: 1rem;
    margin-top: 1vw;
    background-color: #131414;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
} .restart p {
    font-size: 1.4rem;
} .restart:hover{
    background-color: #202222;
}

.main{
    display: grid;
    justify-self: center;
    background-color: var(--eerie);
    height: 98vh;
    border-color: var(--eerie2);
    border-style: solid;
    border-width: 1vh;
}

.menu-header{
    margin-top: 10%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} .menu-header p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
}
.title{
    color: white;
} 
.score{
    color: white;
} 
.best{
    color: white;
}

.game-primary{
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: var(--eerie);
    height: auto;
}

.border{
    height: 160px;
    width: 160px;
    align-content: center;
    justify-items: center;
    background-color: var(--eerie2);
}

.unselected{
    background-color: var(--chibla);
    width: 140px;
    height: 140px;
} .unselected:hover {
    width: 132px;
    height: 132px;
    background-color: var(--chibla2);
} .unselected p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
    transition: all 0.2s;
}
.selected{
    width: 146px;
    height: 146px;
    background-color: var(--sunset);
} .selected p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    color: white;
    transition: all 0.2s;
}

.game-tile{
    align-content: center;
    justify-items: center;
    transition: all 0.2s;
}

.separation{
    width: 100%;
    height: 8%;
    background-color: var(--chibla);
}

.game-inventory{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--eerie);
    transition: all 0.2s;
} .game-inventory p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
}

.game-inv-tile{
    align-content: center;
    justify-items: center;
    transition: all 0.2s;
}