h4 {
    font-size: 1.4rem;
}

.paginaProj{
    width: 86%;
    display: grid;
    gap: 8rem;
    justify-content: center;
    margin: auto;
    margin-top: 22vh;
    margin-bottom: 18vh;
}

.containerProj{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 3fr 0.8fr;
    align-items: center;
    padding: 3rem;
    border-radius: 2vh;
    background: var(--charcoal);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.20);
} .containerProj img{
    width: 30rem;
    border-radius: 2vh;
    object-fit: contain;
}

#containerProjImg{
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-content: center;
    height: 1rem;
} #containerProjImg img{
    width: 5rem;
    object-fit: contain;
}

.containerItens{
    display: grid; 
    gap: 1rem; 
    align-content: center;
}

@media (max-width: 1280px){
    .containerProj img{
        width: 28rem;
    }
}

@media (max-width: 1024px){
    .containerProj img{
        width: 20rem;
    }
}

@media (max-width: 768px){
    .containerProj{
        row-gap: 0rem;
        column-gap: 2rem;
        grid-template-columns: 1fr 3fr 0fr;
        align-items: center;
        padding: 3rem;
    } .containerProj img{
        grid-column: 3;
        height: 0rem;
        width: 0rem;
        object-fit: contain;
    } #containerProjImg{
        gap: 1rem;
        justify-items: center;
        align-content: center;
        height: 0rem;
    } #containerProjImg img{
        width: 0rem;
        object-fit: contain;
    } .containerItens{
        grid-column: 1 / 4;
    }
}