h2.highlighted {
    position: relative;
    width: max-content;
} h2.highlighted::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 25%;
    left: 0;
    bottom: -4px;
    background: #ff5757;
    transition: ease-in-out 0.3s;
} h2.highlighted:hover::after {
    width: 100%;
}

.pagina_sobre{
    width: 86%;
    justify-content: center;
    margin: auto;
    margin-top: 14vh;
    margin-bottom: 12vh;
}
    
.containerSobre{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1.6fr 1fr;
    grid-column-gap: 3rem;
}

.infoSobre{
    display: grid; gap: 1rem; 
    align-self: start; 
    padding-top: 12vh;
}

.containerImgSobre{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: end;
} .containerImgSobre img{
    display: grid;
    width: 100%;
    object-fit: contain;
    transition: ease-out 0.2s;
}

.secaoSobre{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
} 

.textoSobre{
    display: grid; 
    grid-column: 1 / 3;
    gap: 1rem; 
    align-self: start;
    margin-top: 6vh;
}

.pagina_sobre_conhecimentos{
    display: grid;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
    width: 100%;
    background-color: #202020;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-top: 12vh;
    margin-bottom: 12vh;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.20);
}

.containerConhecimentos{
    display: grid;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 54%;
    gap: 1.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.widgetConhecimentos{
    display: grid;
    gap: 1rem;
    height: 7rem;
    min-width: 5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    justify-items: center;
    justify-content: center;
    border-radius: 1.6vh;
    background: #333131;
    transition: all 0.2s ease-in-out;
} .widgetConhecimentos img{
    width: 46%;
} .widgetConhecimentos:hover {
    background: #ff5757;
}

.pagina_sobre_trabalhos{
    display: grid;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
    width: 86%;
    margin-bottom: 12vh;
}

.containerSlides{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
	scrollbar-width: none; 
    transition: all 0.3s ease-in-out;
} .slider:hover{
    transform: scale(1.1);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
} 

.sliderbtn{
    display: grid;
    margin-top: 1.6rem;
    grid-template-columns: 0.1fr 0.1fr;
    justify-items: center;
    justify-content: center;
}

#rbtn, #lbtn{
    position: relative;
    font-family: PoppinsLight;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ff5757;
    width: 3rem;
    height: 2rem;
    border-color: #ff575700;
    border-radius: 1000px;
    background-color: #181a1b;
    transition: all 0.4s;
         
} #rbtn::after, #lbtn::after{
    position: absolute;
    content: '';
    height: 124%;
    width: 116%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom left, #ff5757, #ca3737);
    transition: all 0.6s;
    z-index: -1;
} #rbtn:hover, #lbtn:hover{
    color: #ffffff;
    box-shadow: 0 0 20px #ff5757;
    z-index: 0;
} 

.pagina_sobre_projetos{
    display: grid;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    margin: auto;
    width: 100%;
    background-color: #202020;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-top: 12vh;
    margin-bottom: 12vh;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.20);
}

.containerProjetos{
    display: grid;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 60%;
    gap: 1.8rem;
    grid-template-columns: 1fr 1fr;
}

.widgetProjetos{
    display: grid;
    gap: 1rem;
    height: 12rem;
    min-width: 5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    justify-items: center;
    justify-content: center;
    border-radius: 1.6vh;
    background: #333131;
    transition: all 0.2s ease-in-out;
} .widgetProjetos img{
    width: 50%;
} .widgetProjetos:hover {
    background: #ff5757;
}

/* Ajuste para mobile */
@media (max-width: 600px){
    
}

@media (max-width: 1600px){
    .containerConhecimentos{
        width: 60%;
        gap: 1.4rem;
    }
    .widgetConhecimentos{
        height: 6rem;
    }
    .slider-wrapper{
        max-width: 48rem;
    }
}

@media (max-width: 1444px){
    .containerConhecimentos{
        width: 60%;
        gap: 1.1rem;
    }
    .widgetConhecimentos{
        height: 6rem;
    }
    .slider-wrapper{
        max-width: 46rem;
    }
}

@media (max-width: 1280px){
    .containerConhecimentos{
        width: 60%;
        gap: 1.1rem;
    }
    .widgetConhecimentos{
        height: 5.2rem;
    }
    .slider-wrapper{
        max-width: 40rem;
    }
}
