
/* IDs */
#textpadding {
    padding: 2vh;
}

#textproprieties{
    padding-top: 2vh;
    line-height: 2.8vh; 
    width: 60vw;
} #textproprieties2{
    padding-top: 0vh;
    line-height: 2.5vh; 
    width: 60vw;
} 

#ajusteprint{
    width: 20vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.63);
    transition: 0.3s ease-in-out;
} #ajusteprint:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#habilidades {
    height: auto;
    width: 5.5vw;
    padding-inline: 1.5vw;
    padding-bottom: 1.5vh;
} 

#paddingoveride {
    padding-top: 4vh;
    padding-bottom: 4vh;
} #paddingoveride2 {
    padding-top: 4vh;
    padding-bottom: 2vh;
} #paddingoveride3 {
    padding-top: 10vh;
    padding-bottom: 4vh;
} #paddingoveride4{
    font-family: PoppinsMedium;
    font-size: 2.2vh;
    line-height: 4.4vh;
} #paddingoveride5 {
    padding-top: 4vh;
    padding-bottom: 0vh;    
} 

#ajustetooltip{
    bottom: 80%;
}

#ides {
    height: auto;
    width: 5.5vw;
    display: inline-block;
    padding-inline: 1.5vw;
} #cdw {
    height: auto;
    width: 18vw;
    display: inline-block;
    padding-inline: 1.5vw;
} 

/* Classes */
.paginasobre{
    position: relative;
    width: auto;
    height: auto;
} .backgroundsobre{
    position: relative;
    width: auto;
    height: auto;
    background-color: #202020;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
} .containersobre{
    position: relative;
    padding-top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.containertexto{
    text-align: center;
} 

.containerinfo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 12vh;
} .containerinfo2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 10vh;
}

.ajusteprint {
    padding-top: 2vh;
    padding-bottom: 6vh;
    height: auto;
} 

.textohabilidades{
    font-family: PoppinsRegular;
    color: white;
    font-size: 3.5vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
} .containerhabilidades{
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
} 

.imghover{
    transition: 0.3s ease-in-out;
    padding-inline: 0.5vw;
} .imghover:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.tooltip {
    position: relative;
    display: inline-block;
} .tooltip .tooltiptext {
    visibility: hidden;
    width: 16vh;
    background-color: black;
    font-family: PoppinsLight;
    font-size: 0.9vw;
    color: #fff;
    text-align: center;
    border-radius: 1vh;
    padding: 0.5vh 0.2vw;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -8vh;
    opacity: 0;
    transition: opacity 0.3s;
}.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.containerides{
    position: relative;
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vw;
} 