
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.containercontato{
    text-align: center;
    padding-top: 17vh;
    width: 100%;
    height: 100%;
}

.containerwidgets {
    z-index: 1;
    position: relative;
} 

.widget{
    display:inline-table;
    text-align: center;
    width: 20vw;
    height: 21vw;
    background-color: #202020;
    border: 2px;
    border-radius: 5vh;
    margin: 2.5vw;
    box-shadow: 0vh 0vh 2vh 0vh rgba(0, 0, 0, 0.233);
    transition: 0.2s ease-in-out; 
} .widget:hover{
    background-color: #303030;
    box-shadow: 0vh 0vh 2vh 0vh #ffffff3b;
    opacity: 1; 
}

.imgAjustewidget{
    padding-top: 6vh;
    max-width: 55%;
    height: auto;
    transition: 0.3s ease-in-out;
} .imgAjustewidget:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
} .imgAjustewidgetgithub{
    padding-top: 6vh;
    max-width: 65%;
    height: auto;
    transition: 0.3s ease-in-out;
} .imgAjustewidgetgithub:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.imagemfundoContato {
    margin: auto;
    height: auto;
    width: 20%;
    z-index: 0;
    pointer-events: none;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.containerwidgets:hover ~ .imagemfundoContato {
    opacity: 0.1;
}

.sh1Contato{
    font-family: PoppinsBold;
    color: #ffffff;
    font-size: 7vh;
    padding-top: 4vh;
} .spContato{
    font-family: PoppinsLight;
    font-size: 2.2vh;
    padding-top: 3vh;
    line-height: 22px;
    color: white;
}
