/* Animações */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-3vh);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
        visibility: visible;
    }
}

.slide-in-from-right {
    opacity: 0; 
    visibility: hidden;
    animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
} @keyframes slideInFromRight {
    0% {
        opacity: 0; 
        transform: translateY(0);
    }
    100% {
        opacity: 1; 
        visibility: visible;
        transform: translateY(10%);
    }
}

.fade-in {
    opacity: 0; 
    visibility: hidden;
    animation: fadeInDown 2s forwards; 
}.fade-in {
    opacity: 0; 
    animation: fadeInDown 2s forwards; 
}.fade-in-delay1 {
    animation-delay: 0.5s; 
}.fade-in-delay2 {
    animation-delay: 1s; 
} .fade-in-delay3 {
    animation-delay: 2s; 
} 

.blur-div{
    filter: blur(12px);
    -webkit-filter: blur(12px);
    transition: filter 1.5s, -webkit-filter 1.5s;
}

/* Zindexes */
.zindex2{
    z-index: 2;
}

/* Estilo das tags */
body{
    background-color: #181a1b;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #131516;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0px -5px 15px 0px black;
}li {
    float: right;
}li a {
    font-family: PoppinsMedium;
    font-size: 2vh;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2.2vh 2.2vw;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out; 
}li a:hover {
    background-color: #303030;
    opacity: 1; 
} .active {
    font-family: PoppinsBold;
    color: #ff5757;
    font-size: 2vh;
}

/* IDs */
#diogologo {
    width: auto;
    height: 4vh;
} #diogologoverride {
    float: left;
    padding: 0.5vh 1.4vw;
} 

#textoMais {
    font-family: PoppinsLight;
    color: rgba(255, 255, 255, 0.35);
    padding-top: 2vh;
}

#caixaRoundedsobre{
    text-align: center;
    width: 22vw;
    height: 22vh;
}

#posimagem1 {
    top: 0;
    right: 0;
    padding-right: 15vw;
} #posimagem2 {
    left: 0;
    padding-left: 15vw;
}

/* Classes */
.pagina1{
    position: relative;
    width: auto;
    height: auto;
}

.containertexop{
    position: relative;
    padding-top: 18vh;
}.textoPrincipal1{
    display: inline-block;

    width: 48vw;
    height: auto;
    padding-left: 5vw;
} 

.imgLado1 {
    display: inline-block;
    width: 37vw;
    height: auto;
    padding-right: 4vw;
    padding-left: 2vw;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    transform: translateY(6vh);
} .imgAjuste1{
    max-width: 100%;
    height: auto;
} .imgLado1:hover {
    opacity: 0.5;
    transition: ease-in-out 0.3s;
} 

.sociaisPrincipal1{
    position: relative;
    padding-left: 1.7vw;
} .sociaisAjuste1{
    width: 16vw;
    height: auto;
    transition: 0.3s ease-in-out;
} .sociaisAjuste1:hover{
    transform: scale(1.2);
}

.containerMais{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.3s ease;
} 

.tooltip {
    position: relative;
    display: inline-block;
} .tooltip .tooltiptext {
    visibility: hidden;
    width: 16vh;
    background-color: black;
    font-family: PoppinsLight;
    font-size: 0.9vw;
    color: #fff;
    text-align: center;
    border-radius: 1vh;
    padding: 0.5vh 0;
    position: absolute;
    z-index: 1;
    bottom: 100;
    left: 50%;
    margin-left: -8vh;
    opacity: 0;
    transition: opacity 0.3s;
}.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.containerfade{
    position: relative;
    padding-top: 10vh;
}.pagina2fade1{
    position: relative;
    width: auto;
    height: 25vh;
    background-image: linear-gradient(to bottom, #181a1b, black);
}.pagina21{
    position: relative;
    width: auto;
    height: auto;
    background-color: #000000;
}

.containercaixa{
    position: relative;
    padding-bottom: 30vh;
} .caixaRounded{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 55svh;
    background-color: #202020a9;
    border: 2px;
    border-radius: 4vh;
    z-index: 2;
    opacity: 1;
    box-shadow: 0vh 0vh 5vh 0vh rgba(0, 0, 0, 0.233);
    transition: 0.2s;
} .caixaRounded:hover{
    opacity: 1;
    background-color: #303030;
    box-shadow: 0vh 0vh 5vh 0vh #ffffff3b;
} .alignDentro{
    padding-top: 3vh;
    padding-left: 2.3vw;
    padding-right: 2.3vw;
} .imgcaixa{
    border: 2px; 
    border-radius: 1vw; 
    float: left;
    padding-right: 20px;
} 

.imagemfundo1 {
    position: absolute;
    width: 50vw;
    height: auto;
    z-index: 0;
    object-fit: cover;
    pointer-events: none;
    opacity: 32%;
    filter: blur(2vh);
    -webkit-filter: blur(2vh);
    transition: transform 0.1s ease-out;
} 

.pagina2fade{
    position: relative;
    top: -50px;
    width: auto;
    height: 200px;
    background-image: linear-gradient(to bottom, #181a1b, black);
}.pagina2{
    position: relative;
    top: 200px;
    width: auto;
    height: 1600px;
    background-color: black;
}

.imagemfundo2 {
    position: absolute;
    top: 40px;
    left: 65vh;
    width: 900px;
    height: auto;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
    opacity: 25%;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    transition: transform 0.1s ease-out;
}

.footer{
    width: 100%;
    background-color: #111111;
    color: #fff;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
} .footertext{
    font-family: PoppinsLight;
    text-align: center;
    font-size: 15px;    
    line-height: 22px;
    padding-top: 8px;
    padding-bottom: 12px;
    color: white;
} 